/* Reseta estilos padrões do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais do corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    text-align: center;
    padding: 20px;
}

/* Estilos do título */
h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Estilos do campo de entrada e botão */
#taskInput {
    padding: 10px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    width: calc(100% - 22px);
    max-width: 400px;
    font-size: 16px;
}

#addTaskButton {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#addTaskButton:hover {
    background-color: #0056b3;
}

/* Estilos da lista de tarefas */
#taskList {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

/* Estilo das tarefas */
li {
    padding: 15px;
    margin: 10px auto;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #ddd;
    max-width: 400px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

li:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Estilo das tarefas concluídas */
.completed {
    text-decoration: line-through;
    color: #aaa;
}
